<nav class="navbar fixedNavbar" style="margin:0">
    <div style="display: flex; align-items: center;">
    <a href="/dashboard"><img src="/logo.png" width="40" height="40"></a>
    <a href="/pricing">Pricing</a>
    <a href="#about">About Us</a>
    </div>
    <a href="/signup"><button class="login-button">Auth</button></a>
</nav>
    <div id="main">
        <div id="text">
       <h1><span id="red">404 </span>Page not found</h1>
       <p>The page you were looking for couldn’t be found.Try again! </p>
    </div>
    <img id="shrug"src="/shrug.png" alt="error-shrug img">
      </div>
      <style>
          @import url('/css/home.css');
          @import url("/css/404.css");
      </style>