<nav class="navbar">
    <div style="display: flex; align-items: center;">
    <a href="/dashboard"><img src="/logo.png" width="40" height="40"></a>
    <a href="/pricing">Pricing</a>
    <a href="#about">About Us</a>
    </div>
    <a href="/signup"><button class="login-button">Auth</button></a>
</nav>
<form method="POST">
    <input type="password" name="password" placeholder="Enter the password for administration"/>
    <button type="submit">Submit</button>
</form>

<style>
    @import url("/css/layout.css");
    @import url("/css/home.css");
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
        margin: auto;
        height: 70vh;
    }
    form input{
        font-size:20px;
        padding: 1rem 0.5rem;
    }
    form button{
        padding: 1rem 2rem;
        font-size: 20px
    }
    
</style>