// CURRENT

$white: #ffffff;
$main: #00072dff;
$navbar: #222831;
$dark: #00072dff;
$black: #000513;
$light: #a6e1faff;
// Thinking
$royal-blue-dark: #001c55ff;
$royal-blue-dark-2: #0a2472ff;
$sapphire-blue: #0e6ba8ff;
$darkseagreen: #83b692;
$red: #fe5f55;
