#about {
  background-image: url("/about/about.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.description {
  font-size: 30px;
  width: 50%;
  padding-top: 20rem;
  margin-left: 5rem;
  font-family: "Inter", sans-serif;
}
ul.description {
  margin-left: 30rem;
}

#courses {
  background-image: url("/about/courses.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes growbout {
  from {
    font-weight: 100;
  }
  to {
    font-size: 300;
  }
}
.description:hover {
  animation-name: growbout;
  animation-iteration-count: 1;
  animation-duration: 2s;
}
@media (max-width: 900px) {
  #about {
    width: 100vw;
    height: 60vh;
    background-image: url("/mobile/courses.png");
    .description {
      margin-top: 0;
      padding-top: 15rem;
      width: 100%;
      font-size: 15px;
      margin: 0;
    }
  }
  #courses {
    background-image: url("/mobile/courses.png");
    height: 60vh;
    ul {
      margin-left: 0;
      font-size: 15px;
      text-align: left;
      margin: auto;
    }
  }
}
