//my stylesheet
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Pangolin&display=swap");
@import "_variables";
@keyframes grow {
  from {
    font-size: 10px;
  }
  to {
    font-size: 90px;
  }
}
@media (max-width: 900px) {
  @keyframes grow {
    from {
      font-size: 10px;
    }
    to {
      font-size: 60px;
    }
  }
}
@keyframes landing {
  from {
    background-color: rgba(0, 0, 0, 1);
  }
  to {
    background-color: rgba(0, 0, 0, 0.58);
  }
}
ul {
  list-style-type: none;
}
body {
  margin: 0;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.homeIllus {
  background-image: url("/HomeIllus.png");
}
.secondHero {
  background-image: url("/SecondHero.png");
}
#title {
  animation-name: grow;
  animation-iteration-count: 1;
  animation-duration: 7s;
  font-size: 90px;
  font-family: "Inter", sans-serif;
  width: 100%;
}
#tagline {
  font-size: 30px;
  font-family: "Pangolin", cursive;
}

@media (max-width: 900px) {
  .homeIllus {
    background-image: url("/mobile/home.png");
    background-size: 110%;
  }
  #title {
    font-size: 60px;
  }
  .hero {
    height: 110vh;
  }
}
.hero-content {
  animation-name: landing;
  animation-iteration-count: 1;
  animation-duration: 10s;
  background-color: rgba(0, 0, 0, 0.58);
  display: flex;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .course {
    flex-direction: column;
  }
  .course:nth-child(1) {
    flex-direction: column-reverse;
  }
  .course:nth-child(3) {
    flex-direction: column-reverse;
  }
  .course:nth-child(5) {
    flex-direction: column-reverse;
  }
  .course p {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .hero-text {
    height: 100%;
  }
  #quote {
    padding: 0;
  }
}
#typing-effect {
  height: 20px;
  padding: 2px 2px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: $white;
}
@keyframes cursor-anim {
  from {
    border: 2px solid $main;
  }
  to {
    border: 2px solid transparent;
  }
}
.cursor {
  animation-name: cursor-anim;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#author {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.radios {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .radios {
    height: 100vw;
    justify-content: center;
  }
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 98999999;
}
td {
  width: 10rem;
  @media (max-width: 768px) {
    width: 1rem !important;
  }
}
.navbar a {
  color: $white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  padding: 0px 1rem;
}
.navbar {
  background: $navbar;
}
.fixedNavbar {
  top: 0;
  position: fixed;
}
.login-button {
  padding: 0px 10px;
  font-family: "Inter", sans-serif;
  height: 50px;
  font-size: 20px;
  border-radius: 4px;
  border: 0;
}
.course {
  display: flex;
  justify-content: space-around;
}
.course h1 {
  font-size: 90px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.course p {
  font-size: 20px;
}
.course div {
  width: 60%;
}
.courses-landing {
  margin-top: 50px;
}
.course {
  margin-top: 40px;
  font-family: "Inter", sans-serif;
}
footer {
  position: fixed;
  bottom: 0;
  font-family: "Inter", sans-serif;
  background-color: $white;
  color: black;
  width: 100vw;
}
@media (max-width: 700px) {
  .course div {
    width: 100%;
  }
  .course h1 {
    font-size: 50px;
  }
}
table {
  margin: auto;
}
td,
th {
  border: 2px solid white;
  font-size: 20px;
  padding: 1rem;
  text-align: left;
}
tr:nth-child(even) {
  background-color: $dark;
}
tr:nth-child(odd) {
  background-color: $navbar;
}
tr:nth-child(even):hover {
  background-color: $navbar;
  transition-duration: 2s;
}
tr:nth-child(odd):hover {
  background-color: $dark;
  transition-duration: 2s;
}
